@import '../../utils/commen.scss';

.header {
    width: 100vw;
    height: 95px;
    padding: 0 4rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.3s all;
    .navigation {
        width: 100%;
    }
    .menu-btn {
        display: none;
    }
    .list {
        flex-basis: 30%;
        text-align: left;
        column-gap: 1rem;
        transition: 0.3s all;
        a {
            cursor: pointer;
            color: #1d1d1d;
            text-decoration: none;
        }
    }
    .logo {
        img {
            width: 90%;
            margin: auto;
        }
    }
    .register-btn {
        flex-basis: 30%;
        text-align: right;
        .btn {
            padding: 0.7rem 1rem;
            background-color: $secondary_color;
            color: white;
            font-size: 0.9rem;
            border-radius: 0.5rem;
            border: 1px solid $secondary_color;
            transition: .5s all;
            &:hover{
                background-color: #fff;
                color: $secondary_color;
            }
        }
    }
}

.header.active-color{
    background:linear-gradient(to bottom right, rgba(255,255,255,0.75), rgba(255,255,255,0.75)) !important;
    backdrop-filter: blur(7px); 
}

@media (max-width: 575.98px) {
    .header{
        height: 75px;
        padding: 1rem; 
        z-index: 11;
        .menu-btn {
            display: block;
            font-size: 2rem;
            margin-left: 1rem;
            cursor: pointer;
        }
        .list {
            width: 100vw;
            height: 0px;
            position: absolute;
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 75px;
            z-index:11;
            overflow: hidden;
            .list-item {
                padding: 1rem 0;
            }
        }
        .logo {
            img {
                width: 70%;
                margin-left: 0;
            }
        }
        .register-btn {
            flex-basis: 20%;
            .btn {
                padding: 0.3rem 1rem;
                font-size: 0.8rem;
            }
        }
    }
    .header.active{
        background-color: white !important;
        .list{
            height: 250px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .header{
        height: 75px;
        padding: 1rem; 
        z-index: 11;
        .menu-btn {
            display: block;
            font-size: 2rem;
            margin-left: 1rem;
            cursor: pointer;
        }
        .list {
            width: 100vw;
            height: 0px;
            position: absolute;
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 75px;
            z-index:11;
            overflow: hidden;
            .list-item {
                padding: 1rem 0;
            }
        }
        .logo {
            img {
                width: 70%;
                margin-left: 0;
            }
        }
        .register-btn {
            flex-basis: 50%;
            .btn {
                padding: 0.5rem 1rem;
                font-size: 0.65rem;
            }
        }
    }
    .header.active{
        background-color: white !important;
        .list{
            height: 250px;
        }
    }
}